body {
  background-color: #EAF6F6;
  }
  hr{
  background-color: white;
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;

      width: 10%;
    }
  h3{
    color: #66BFBF;
  }
  h1{
    color: #66BFBF;
  }
